.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: #2c4bc4;
  }
  a:hover {
    color: magenta;
  }

  .home-icon-link {
    img {
      width: 60px;
      height: auto;
    }
  }

  .header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    font-size: calc(30px + 3vmin);
    font-weight: 700;
    margin-top: 20px;
  }

  .header-sub {
    font-size: calc(5px + 2vmin);
    font-weight: 600;
    margin: 20px;

    a {
      text-decoration: none;
      color: #707070;
    }
    a:hover {
      color: magenta;
    }
  }
  .home-translate {
    button {
      font-size: small;
      border: none;
      color: #2c4bc4;
    }

    button:hover {
      color: magenta;
    }
  }
}
