.main-destinations {
  text-align: center;
}

.countries-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-country {
  padding: 20px;

  img {
    width: 250px;
    height: auto;
    border: 1px solid #707070;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid magenta;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
