.main-destinations {
  text-align: center;
}

.countries-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-country {
  padding: 20px;

  img {
    width: 250px;
    height: auto;
    border: 1px solid #707070;
  }
}
